/* Estilos del formulario para registrarse como Delivery */

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff8f0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.form-container label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.checkbox-group {
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-container button {
    background-color: #ff8811;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%;
    margin-top: 15px; /* Para dar espacio entre los botones */
}

.form-container button:hover {
    background-color: #392f5a;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-container h2 {
        font-size: 20px;
    }

    .form-container button {
        font-size: 14px;
    }
}
